---
title: Sq Web Developer | About
layout: 'base.njk'
---


<div class="about__section">

<div class="about__header">
   <div class="img">
        <!--<img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_960_720.png"> -->
       <img src="https://raw.githubusercontent.com/mesaqib/my-portfolio/main/me.png">
   </div>
   <div class="text">
       <h2>SAQIB</h2>
       <p>Front-end Developer</p>
   </div>
</div><!-- End of About Header  -->

 <center><h2 style="margin-top: 150px">Skills</h2></center>
<div class="about__skill">
   
 <div class="left">
     <div class="box1 box">
        <img src="https://img.icons8.com/color/96/000000/html-5--v1.png"/>
        <h3>HTML</h3>
          </div>

      <div class="box2 box"> 
          <img src="https://img.icons8.com/color/96/000000/css3.png"/>
          <h3>CSS</h3>
    </div>

       <div class="box3 box">
     <img src="https://img.icons8.com/color/96/000000/javascript--v1.png"/>
     <h3>Javascript</h3>
       </div>

    <div class="box4 box">
      <img src="https://img.icons8.com/color/96/000000/bootstrap.png"/>
      <h3>Bootstrap</h3>
    </div>

    <div class="box5 box">
     <img src="https://img.icons8.com/color/96/000000/react-native.png"/>  
     <h3>ReactJs</h3>
    </div>

    <div class="box6 box">
   <img src="https://img.icons8.com/color/96/000000/sass-avatar.png"/>   
   <h3>SCSS</h3> 
    </div>

 </div>

 <div class="right">
     <h2>A Front-end Developer Based in India, Delhi</h2>
     <br/>
     <p>
        Hi, I am Front End developer. In my professional career I have done more than 10 projects with different techniques, I have a strong grip on <b>HTML</b>, <b>CSS</b>, <b>Bootstrap</b>, <b>Scss</b>, <b>Javascript</b>, <b>Jquery</b>, and <b>ReactJs</b>.

I also have a good knowledge of web and mobile designing for this designing I am using Figma tool.
     </p>
     <br/>
      <br/>
      <h2>Contact Us</h2><br/>
      <h3> <a href="mailto:hello@sqwebdeveloper.com">hello@sqwebdeveloper.com →</a></h3>
 </div>

   
</div><!-- End of About Skill  -->

</div><!-- End of the About Section -->