---
title: Sq Web Developer | About
layout: 'base.njk'
---


<div class="about__section">

<div class="about__header">
   <div class="img">
        <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_960_720.png">
   </div>
   <div class="text">
       <h2>SAQIB</h2>
       <p>Front-end Developer</p>
   </div>
</div><!-- End of About Header  -->


<div class="about__skill">
 <div class="left">
     <div class="box1 box"> 
         <img src="https://cdn.pixabay.com/photo/2018/05/08/21/28/html5-3384014_960_720.png">
          </div>

      <div class="box2 box"> 
          <img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_960_720.png">
    </div>

       <div class="box3 box">
      <img src="https://cdn.pixabay.com/photo/2015/04/23/17/41/javascript-736400_960_720.png">
       </div>

    <div class="box4 box">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqPQGvtwJqB4HeNiPj7yCLL-lnWGrsqJIdbzRjaF-kJjQmLlKyY6r3ro58YFr-c0JJ7VE&usqp=CAU">  
    </div>

    <div class="box5 box">
     <img src="https://ms314006.github.io/static/b7a8f321b0bbc07ca9b9d22a7a505ed5/97b31/React.jpg">   
    </div>

    <div class="box6 box">
   <img src="https://www.pngkey.com/png/detail/377-3771917_scss-logo.png">     
    </div>

 </div>

 <div class="right">
     <h2>A Front-end Developer Based in India, Delhi</h2>
     <br/><p>
         Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
     </p>
     <br/>

      <h3> <a href="mailto:hello@sqwebdeveloper.com">hello@sqwebdeveloper.com →</a></h3>
 </div>

   
</div><!-- End of About Skill  -->

</div><!-- End of the About Section -->